<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class</title>
    <style>
        table {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        }

        caption {
        caption-side: bottom;
        padding: 10px;
        font-weight: bold;
        }

        thead,
        tfoot {
        background-color: rgb(228 240 245);
        }

        th,
        td {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
        }

        td:last-of-type {
        text-align: center;
        }

        tbody > tr:nth-of-type(even) {
        background-color: rgb(237 238 242);
        }

        tfoot th {
        text-align: right;
        }

        tfoot td {
        font-weight: bold;
        }

    </style>
</head>
<body>
    <h1>Name of classroom <%=classroom.className%></h1>

    Add Student to the class:
    <form method="POST" action="/academic/c/<%= classroom._id%>">
        <input type="text" name="registrationNo" placeholder="Registration No">
        <button type="submit">Add to class</button>
    </form>


    <%  if(classroom.classStudents.length>0){ %>
        <table>
            <% for(student of classroom.classStudents){ %>
                <tr>
                    <td>
                       <%= student.id %>
                    </td>
                    <td>
                        <%= student.name %>
                    </td>
                    <td>
                        <%= student.registrationNo %>
                    </td>
                </tr>
            <% } %>
        </table>
    <% } %>
    
</body>
</html>